@use '../abstracts' as a;

.background-bubble1,
.background-bubble2 {
    position: absolute;
    width: 51rem;
    height: 101.8rem;
    border-radius: 22.5rem;
    background-image: linear-gradient(225deg, a.$color-linear-gradient1, a.$color-linear-gradient2);
}

.background-bubble1 {
    left: -32.2rem;
    top: -50.9rem;
}

.background-bubble2 {
    bottom: -50.9rem;
    right: -32.2rem;
    opacity: 0.03;
}
