@use '../abstracts' as a;

.text-content {
    text-align: center;
    margin-inline: 3.2rem;
    max-width: 31.1rem;

    @media only screen and (min-width: 950px) {
        text-align: start;
        margin-inline: 0;
        max-width: 44.5rem;
    }

    &__title {
        font-weight: 500;
        font-size: 4rem;
    }

    &__content {
        line-height: 2.8rem;
        font-size: 1.6rem;
        color: a.$color-font-secondary;
    }
}
