@use '../abstracts' as a;

.text-content {
    text-align: center;
    margin-inline: 3.2rem;

    &__title {
        font-weight: 500;
        font-size: 4rem;
    }

    &__content {
        line-height: 2.8rem;
        font-size: 1.6rem;
        color: a.$color-font-secondary;
    }
}
