@use '../abstracts' as a;

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 6.4rem 0;
    padding: 0;
    background-color: a.$color-background-main;
}
p {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
