$color-font-primary: hsl(271, 36%, 24%);
$color-font-secondary: hsl(271, 7%, 64%);
$color-font-purple: hsl(276, 55%, 52%);

$color-screen: hsla(271, 16%, 96%, 1);
$color-purple-light: hsl(276, 41%, 93%);
$color-linear-gradient1: hsl(292, 100%, 63%);
$color-linear-gradient2: hsl(263, 100%, 61%);

$color-background-main: hsl(0, 0%, 95%);
